{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="formcontrol">
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Login</legend>
            {{ form|crispy }}
        </fieldset>
        <div>
            <button class="btn btn-success submit">Submit</button>
        </div>
    </form>
    <div>
        <small><a href="{% url 'register' %}">Dont Have An Account  ?</a></small>
    </div>
</div>
{% endblock content %}